<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Products</title>
</head>
<body>
    <h2>Upload Products</h2>
    <p>Remember the file format is "| Categoría | Nombre | Marca |" </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose a file:</label>
        <input type="file" name="file" accept=".xlsx" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
